<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.elegion.githubclient"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".AppDelegate"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- ACTIVITIES -->

        <activity
            android:name=".activity.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.UserActivity"
            android:label="@string/ab_my_profile"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.MyRepositoriesActivity"
            android:label="@string/ab_my_repositories" />
        <activity android:name=".activity.RepositoryActivity" />

        <provider
            android:authorities="${applicationId}"
            android:name=".content.SQLiteProvider"
            android:exported="false"/>
    </application>

</manifest>
